.student-record-page {
  padding: 10px;
  /* background-image: linear-gradient(to bottom right,hsl(300, 76%, 82%),lightblue,violet); */
  background-color: aliceblue;
  min-height: 100vh;
}

.student-record-page hr {
  margin: 10px 0;
}

/* Filter */

.student-records-filter-container {
  display: grid;
}

.student-records-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student-records-filter-header p {
  margin: 0;
  font-size: large;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.15s;
}
.student-records-filter-header p:hover {
  background-color: hsl(280, 100%, 35%);
  color: #fff;
  box-shadow: 0px 0px 5px hsl(280, 100%, 35%);
}

.student-records-filter {
  display: flex;
  gap: 10px;
  align-items: center;
}
.student-records-filter span {
  flex-basis: 15%;
  font-size: large;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.15s;
}
.student-records-filter span:hover {
  color: hsl(280, 100%, 35%);
  text-shadow: 0px 5px 5px hsla(280, 100%, 50%, 0.5);
}

.student-records-filter #studentSearch,
.filterby-box select,
.sortby-box select {
  border: none;
  outline: none;
}

.filterby-box select,
.sortby-box select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid hsl(250, 100%, 50%);
}

.student-records-filter #studentSearch {
  flex: 1;
}

.student-records-filter .studentSearch-holder {
  flex: 1;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.filterby-box,
.sortby-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  min-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px;
}
.sortby-box{
  display: grid;
  gap: 5px;
}
.filterby-box-close {
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.filterby-box input,
.sortby-box input {
  border: 1px solid hsl(250, 100%, 50%);
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.student-records-filter-container .student-record-delete {
  display: flex;
  align-items: center;
  gap: 10px;
}

.student-records-filter-container .student-record-delete button {
  padding: 5px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: red;
  border-radius: 5px;
}

.student-delete-cancel {
  background-color: gray !important;
}

/* Main */
.student-record-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.student-record-container-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.student-record-container-group input {
  width: 20px;
  height: 20px;
}
.student-record-container-group img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.student-record-container-group-title {
  background-color: transparent;
}
