.library-request-page {
  padding: 10px;
}
.library-request-form-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.library-request-form-group-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}
.library-request-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.library-request-group input,
.library-request-group select {
  padding: 5px;
  width: 30%;
  border: 1px solid gray;
  border-radius: 5px;
}
.library-request-group-2 {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.library-request-group-2 textarea {
  width: 300px;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  resize: horizontal;
}
.library-request-form-container,
.library-request-preview {
  box-shadow: 0px 0px 2px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 10px;
  margin: 10px 0;
  font-weight: bold;
  background-color: #fff;
  /* color: white; */
}

/* Form */

.library-request-page {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 20px;
}

h3 {
  color: #333;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

.cancel-button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #c0392b;
}

/* Tracker */

.library-request-tracker-page {
  box-shadow: 0px 0px 5px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

/* Prograss Bar */

.progress-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  overflow: hidden;
  padding-bottom: 20px;
}

.progress-step {
  padding: 2px;
  text-align: center;
  background-color: lightgray;
  border-radius: 50%;
  position: relative;
  text-wrap: nowrap;
}
.progress-step p {
  margin: 0;
  position: absolute;
  bottom: -20px;
}
.progress-step::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -400px;
  width: 400px;
  height: 5px;
  background-color: lightgray;
  transform: translateY(-50%);
}

.progress-step:last-child::after {
  display: none;
}
.progress-step:last-child p {
  right: 0px;
}
.progress-step:nth-child(2) p {
  left: -40px;
}
.progress-step:nth-child(3) p {
  left: -30px;
}

.completed {
  background-color: green;
}

.completed::after {
  background-color: green;
}

/* TimeLine */
.request-tracker-timeline {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  padding-bottom: 20px;
  gap: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tracker-timeline-group {
  display: flex;
  gap: 10px;
  align-items: center;
}
.tracker-timeline-group label {
  width: 6em;
  /* box-shadow: 0px 0px 5px; */
  padding: 5px;
  border-radius: 5px;
}
.tracker-timeline-group p {
  /* width: 22em; */
  /* box-shadow: 0px 0px 5px; */
  padding: 5px;
  border-radius: 5px;
  margin: 0;
}
.tracker-timeline-group span{
  padding: 1px;
  background-color: hsl(0, 0%, 0%,0.5);
  /* border-radius: 50%; */
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
/* .tracker-timeline-group span::after{
  content: '';
  position: absolute;
  width: 2px;
  background-color: black;
  height: 80px;
}
.tracker-timeline-group:last-child span::after {
  display: none;
} */

