body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #007DCB;
  --secondary: #00B1B2;
  --primary-2: #C96868;
  --secondary-2: #FADFA1;
  --accent-1: #e2dad6;
  --accent-2: #00C79F;
  --accent-3: #716DA0;
  --accent-4: #7EACB5;

}
