.permission-detail-container {
  min-height: 100vh;
}

.permission-image {
  min-height: 200px;
  max-height: 400px;
}
.permission-reason {
  text-indent: 1rem;
}

@media (max-width: 576px) {
  .details {
    border-left-width: 0 !important;
    border-top: 2px solid #dee2e6 !important;
  }
}
