/* Layout for the dashboard */
.staff-container {
  display: flex;
  background-color: #f4f5f9;
  min-height: 100vh;
}

.staff-records-filter {
  display: flex;
  margin: 10px 0;
  gap: 10px;
  align-items: center;
}
.staff-records-filter #staffSearch,
.staff-records-filter select {
  border: none;
  outline: none;
}
.staff-records-filter select {
  padding: 10px;
  border-radius: 5px;
}
.staff-records-filter #staffSearch {
  flex: 1;
}
.staff-records-filter .staffSearch-holder {
  flex: 1;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
/* Main content styling */
.main-content {
  flex-grow: 1;
  padding: 20px;
}

h2 {
  color: #333;
}

.staff-records-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
@media (min-width: 950px) {
  .staff-records-container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
@media (max-width:650px) {
  .staff-records-container {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

.staff-card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
}

.delete-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
}

.staff-info {
  flex: 1;
  display: grid;
}

.staff-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.staff-info p {
  margin: 5px 0 5px 5px;
  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: center;
  text-wrap: nowrap;
}

.staff-info span {
  font-size: 1.2rem;
}

.staff-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Button Styles */
.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.staff-delete-cancel {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: blue;
}
.delete-btn:hover {
  background-color: #c0392b;
}

.staff-record-insights {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 200px));
  justify-content: space-around;
}
.staff-record-insight-card {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}
