/* Layout for the dashboard */
.staff-container {
  display: flex;
  background-color: #f4f5f9;
  min-height: 100vh;
}

.staff-records-filter {
  display: flex;
  margin: 10px 0;
  gap: 10px;
  align-items: center;
}
.staff-records-filter #staffSearch,
.staff-records-filter select {
  border: none;
  outline: none;
}
.staff-records-filter select {
  padding: 10px;
  border-radius: 5px;
}
.staff-records-filter #staffSearch {
  flex: 1;
}
.staff-records-filter .staffSearch-holder {
  flex: 1;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  gap: 10px;
}
/* Main content styling */
.main-content {
  flex-grow: 1;
  padding: 20px;
}

h2 {
  color: #333;
}

.staff-records-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.staff-card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
}

.delete-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
}

.staff-info {
  flex: 1;
  display: grid;
}

.staff-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}

.staff-info p {
  margin: 5px 0 5px 5px;
}

/* Button Styles */
.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.delete-btn:hover {
  background-color: #c0392b;
}
