/* Reset some default styles */
* {
    box-sizing: border-box;
}

/* Main container for the admin login page */
.admin-login {
    position: relative;
    /* Allow absolute positioning of child elements */
}

/* Container for the forms */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Button alignment for the Staff button */
.button-alignment {
    position: absolute;
    top: 20px;
    /* Adjust as necessary */
    right: 20px;
    /* Adjust as necessary */
    z-index: 1;
    /* Ensure it's above other content */
}

/* Button styles */
.login-container button {
    background-color: #9e5db1;
    /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.login-container button:hover {
    background-color: #0056b3;
    /* Darker color on hover */
    transform: translateY(-2px);
    /* Lift effect on hover */
}

/* Header style */
.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* Form styling */
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Input field and select styles */
.login-container label {
    margin-bottom: 5px;
    color: #555;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"]{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
    transition: border-color 0.3s;
}
.login-container input[type="checkbox"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-container input:focus {
    border-color: #007bff;
    /* Change border color on focus */
    outline: none;
}

/* Checkbox styling */
.login-container label[for="rememberMe"] {
    display: inline-block;
    margin-left: 5px;
    /* Spacing for the label */
}

/* Link styling */
.login-container p {
    margin-top: 15px;
    text-align: center;
}

.login-container a {
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

/* Container for the Remember Me checkbox */
.remember-me-container {
    display: flex;
    align-items: center;
    /* Center the checkbox and label vertically */
    margin-bottom: 15px;
    /* Space below the checkbox */
}

/* Checkbox styling */
.login-container input[type="checkbox"] {
    margin-left: 2px;
    /* Space between the checkbox and label */
}