.admin-dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.admin-dashboard h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  gap: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  color: #555;
  min-height: 100px;
}

.entry-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.staff-records h3 {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.cancel {
  background-color: #f44336;
}

.add-staff {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.add-staff p{
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.add-staff .Activated{
    background-color: #4caf50;
}
.add-staff .Duplicate{
    background-color: #f44336;
}
.add-staff .Error{
    background-color: gray;
}

.add-staff-btn {
  margin-top: 10px;
}

.input-field {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.add-staff-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.add-staff-table th,
.add-staff-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.add-staff-table th {
  background-color: #f2f2f2;
}

.form-buttons {
  margin-top: 20px;
}
